@import "../../styles/variables.scss";
@import "../../styles/decoration.scss";

#pageHome {
  .particlesContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @include media-for-screen-xs {
      opacity: 0.5;
    }
  }

  .introductionContainer {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    .name,
    .surname {
      line-height: 1;
      text-transform: uppercase;
      font-family: "Russo One", sans-serif;
    }

    .name {
      font-size: 8rem;
    }

    .surname {
      font-size: 5rem;
    }

    .monoton {
      font-family: "Monoton", cursive;
      color: $color-accent;
    }

    .summary {
      margin-top: 4rem;
      width: 80%;

      @include media-for-screen-md-and-down {
        width: 100%;
      }
    }

    .gitLink {
      margin-top: 3rem;

      & > img {
        vertical-align: middle;
        margin-right: 10px;
      }

      & > .a {
        vertical-align: middle;
      }
    }
  }

  &:after {
    @include decoratedLetter;
    content: "M";
  }
}
