@import "variables.scss";

#side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background: $color-secondary;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  transition: all 200ms linear;
  box-shadow: 2px 0 5px rgba(#000000, 0.2);

  @include media-for-screen-md-and-down {
    position: relative;
    width: 100%;
    height: 80px;
    top: 0;
    bottom: unset;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(#000000, 0.5);
  }

  @include media-for-screen-xs {
    padding: 10px 30px;
  }

  .logo {
    width: 60px;
    height: 75px;
    background: url("/images/logo-profile-white-157x198.png") no-repeat;
    background-size: cover;
    margin: 0 auto;

    @include media-for-screen-md-and-down {
      margin: 0;
    }

    @include media-for-screen-xs {
      width: 40px;
      height: 50px;
    }
  }

  .main-menu {
    a.menu-item {
      font-size: 2rem;
      color: #ffffff;
      display: block;
      text-decoration: none;
      position: relative;
      transition: color 0.2s linear;
      outline: none;
      cursor: pointer;
      border: none;

      @include media-for-screen-md-and-down {
        display: inline-block;
        margin: 0 15px;
      }

      & + .menu-item {
        margin-top: 2rem;

        @include media-for-screen-md-and-down {
          margin-top: 0;
        }
      }

      &.active {
        pointer-events: none;
        cursor: default;
        color: $color-accent;
      }

      & > .item {
        position: relative;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
          color: $color-accent;
        }

        &:before,
        &:after {
          position: absolute;
          color: $color-accent;
        }

        &:before {
          content: "[";
          left: -10px;
        }

        &:after {
          content: "]";
          right: -10px;
        }
      }
    }

    @include media-for-screen-xs {
      display: none;
    }
  }

  .language-switcher {
    & > .language {
      padding: 0px 10px 4px;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      line-height: 1;

      & + .language {
        margin-left: 15px;
      }

      &:hover,
      &:active,
      &:focus {
        background: $color-accent;
        color: $color-secondary;
      }

      &.disabled {
        pointer-events: none;
        cursor: default;
        color: rgba(#ffffff, 0.6);

        &:hover {
          background: none;
        }
      }
    }
  }
}
