@import "variables.scss";

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;

  @include media-for-screen-md-and-down {
    font-size: 8px;
  }
}

body {
  font: 400 2rem/1.6 "Oswald", sans-serif;
  color: $color-primary;
}

p {
  font-weight: 300;

  & + p {
    margin-top: 15px;
  }
}

h1 {
  font-size: 4rem;
  margin: 40px 0;
  background: $color-accent;
  color: $color-secondary;
  padding: 0 20px;
}

h2 {
  font-size: 3rem;
  border-left: 2px solid $color-accent;
  border-bottom: 2px solid #ffbf00;
  padding-left: 15px;
  margin: 20px 0;
}

h3 {
  font-size: 3rem;
  margin: 20px 0;
}

h4 {
  font-size: 2.5rem;
  margin: 10px 0;
}

a, .a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;

  &:hover, &:active, &:focus {
    color: $color-accent;
    border-bottom: 1px solid $color-accent;
  }
}
