$extra-small-screen: 500px !default;
$extra-small-screen-up: 501px !default;

$small-screen: 800px !default;
$small-screen-up: 801px !default;

$medium-screen: 1020px !default;
$medium-screen-up: 1021px !default;

$large-screen: 1140px !default;
$large-screen-up: 1141px !default;


//-------------------------------------


$color-primary: #2c2c2c;

$color-secondary: #212121;

$color-accent: #ffbf00;

$color-active: #b04561;