@import "variables.scss";

.panel {
  color: $color-secondary;
  padding: 25px;
  margin: 25px;

  @include media-for-screen-xs {
    margin: 0;
  }

  &.accent {
    background: $color-accent;
  }

  &.white {
    background: #ffffff;
  }
}
